
body{
    background-color: rgba(195, 105, 134, 0.902);
}


table{
    border: 2px solid;
    width: 700px;
    height: 500px;
    table-layout: fixed;
}

tr,td{
    border: 2px solid black;
    padding:0px ;
    
}

p{
    color: rgb(98, 61, 209);
    font-size: 25px;   
    font-style: italic;
    animation: jump 1s infinite; 
}


img{
    height:200px;
    width: 225px;
}

marquee{
    width:700px ;
    background-color: rgba(15, 15, 15, 0.623);
    color: aliceblue;
    height: 70px;

}


button{
    color: blue;
    background-color: rgb(232, 205, 205);
}

#a1{
    background-color: rgb(178, 141, 141);
}


#a2{
    background-color: rgba(131, 131, 226, 0.614);
}

#a4{
    background-color: rgba(82, 221, 175, 0.534);
}

#a5{
    background-color: rgba(171, 83, 171, 0.562);
}

#a6{
    background-color: rgba(175, 135, 61, 0.635);
}

.sec1{
    width: 700px;
}
